{% include 'tags_logic' %}
<div id="FiltersDrawer" class="sidenav" data-s-module="FiltersDrawer">

  {% if grooming_tags.size > 0 %}
  <h5>Personal Care</h5>
  <ul>
    {% for tag in grooming_tags %}
      {% if current_tags contains tag %}
        {% assign html = '<i class="material-icons">backspace</i> ' | append: tag %}
        <li class="active">{{ html | link_to_remove_tag: tag }}</li>
      {% else %}
        <li>{{ tag | link_to_add_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  {% if apparel_tags.size > 0 %}
  <h5>Wears</h5>
  <ul>
    {% for tag in apparel_tags %}
      {% if current_tags contains tag %}
        {% assign html = '<i class="material-icons">backspace</i> ' | append: tag %}
        <li class="active">{{ html | link_to_remove_tag: tag }}</li>
      {% else %}
        <li>{{ tag | link_to_add_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  {% if apparel_age_and_gender_tags.size > 0 %}
  <h5>Age & Gender</h5>
  <ul>
    {% for tag in apparel_age_and_gender_tags %}
      {% if current_tags contains tag %}
        {% assign html = '<i class="material-icons">backspace</i> ' | append: tag %}
        <li class="active">{{ html | link_to_remove_tag: tag }}</li>
      {% else %}
        <li>{{ tag | link_to_add_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
  
  {% if adult_size_tags.size > 0 %}
  <h5>Adult Size</h5>
  <ul>
    {% for tag in adult_size_tags %}
      {% if current_tags contains tag %}
        {% assign html = '<i class="material-icons">backspace</i> ' | append: tag %}
        <li class="active">{{ html | link_to_remove_tag: tag }}</li>
      {% else %}
        <li>{{ tag | link_to_add_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  {% if adult_plus_size_tags.size > 0 %}
  <h5>Adult Plus Size</h5>
  <ul>
    {% for tag in adult_plus_size_tags %}
      {% if current_tags contains tag %}
        {% assign html = '<i class="material-icons">backspace</i> ' | append: tag %}
        <li class="active">{{ html | link_to_remove_tag: tag }}</li>
      {% else %}
        <li>{{ tag | link_to_add_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  {% if youth_size_tags.size > 0 %}
  <h5>Youth Size</h5>
  <ul>
    {% for tag in youth_size_tags %}
      {% if current_tags contains tag %}
        {% assign html = '<i class="material-icons">backspace</i> ' | append: tag %}
        <li class="active">{{ html | link_to_remove_tag: tag }}</li>
      {% else %}
        <li>{{ tag | link_to_add_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  {% if toddler_size_tags.size > 0 %}
  <h5>Toddler Size</h5>
  <ul>
    {% for tag in toddler_size_tags %}
      {% if current_tags contains tag %}
        {% assign html = '<i class="material-icons">backspace</i> ' | append: tag %}
        <li class="active">{{ html | link_to_remove_tag: tag }}</li>
      {% else %}
        <li>{{ tag | link_to_add_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  {% if infant_size_tags.size > 0 %}
  <h5>Infant Size</h5>
  <ul>
    {% for tag in infant_size_tags %}
      {% if current_tags contains tag %}
        {% assign html = '<i class="material-icons">backspace</i> ' | append: tag %}
        <li class="active">{{ html | link_to_remove_tag: tag }}</li>
      {% else %}
        <li>{{ tag | link_to_add_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  {% if apparel_fit_tags.size > 0 %}
  <h5>Material Weight & Fit</h5>
  <ul>
    {% for tag in apparel_fit_tags %}
      {% if current_tags contains tag %}
        {% assign html = '<i class="material-icons">backspace</i> ' | append: tag %}
        <li class="active">{{ html | link_to_remove_tag: tag }}</li>
      {% else %}
        <li>{{ tag | link_to_add_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  {% if color_tags.size > 0 %}
  <h5>Color</h5>
  <ul class="row colors">
    {% for tag in color_tags %}
      {% if current_tags contains tag %}
        {% assign color = tag | downcase %}
        {% if color == 'white' %}
        {% assign html = '<i class="material-icons small">remove_circle_outline</i><br>' | append: tag %}
        {% else %}
        {% assign html = '<i class="material-icons small">remove_circle</i><br>' | append: tag %}
        {% endif %}
        <li class="col s4 {{color}}">{{ html | link_to_remove_tag: tag }}</li>
      {% else %}
        {% assign color = tag | downcase %}
        {% if color == 'white' %}
        {% assign html = '<i class="material-icons small">panorama_fish_eye</i><br>' | append: tag %}
        {% else %}
        {% assign html = '<i class="material-icons small">brightness_1</i><br>' | append: tag %}
        {% endif %}
        <li class="col s4 {{color}}">{{ html | link_to_add_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  {% if season_tags.size > 0 %}
  <h5>Seasonal Items</h5>
  <ul>
    {% for tag in season_tags %}
      {% if current_tags contains tag %}
        {% assign html = '<i class="material-icons">backspace</i> ' | append: tag %}
        <li class="active">{{ html | link_to_remove_tag: tag }}</li>
      {% else %}
        <li>{{ tag | link_to_add_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  {% if collab_tags.size > 0 %}
  <h5>Collabs</h5>
  <ul>
    {% for tag in collab_tags %}
      {% if current_tags contains tag %}
        {% assign html = '<i class="material-icons">backspace</i> ' | append: tag %}
        <li class="active">{{ html | link_to_remove_tag: tag }}</li>
      {% else %}
        <li>{{ tag | link_to_add_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  {% if brand_tags.size > 0 %}
  <h5>Brands</h5>
  <ul>
    {% for tag in brand_tags %}
      {% if current_tags contains tag %}
        {% assign html = '<i class="material-icons">backspace</i> ' | append: tag %}
        <li class="active">{{ html | link_to_remove_tag: tag }}</li>
      {% else %}
        <li>{{ tag | link_to_add_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  {% if merch_tags.size > 0 %}
  <h5>Merch & More</h5>
  <ul>
    {% for tag in merch_tags %}
      {% if current_tags contains tag %}
        {% assign html = '<i class="material-icons">backspace</i> ' | append: tag %}
        <li class="active">{{ html | link_to_remove_tag: tag }}</li>
      {% else %}
        <li>{{ tag | link_to_add_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
  <div style="height: 80px"></div>
</div>