<div class="page-footer"> 
  <div class="row footer-nav">
    <div class="col s12 copyright center-align">&copy; {{'now' | date: '%Y' }} Suavecito, Inc.</span></div>
    <div class="col s12 social">
      <a href="{{settings.instagram_profile_url}}" title="Suavecito on Instagram">
        {{'icon-instagram.png' | asset_img_url | img_tag: 'Instragram Icon'}}
      </a>
      <a href="{{settings.facebook_profile_url}}" title="Suavecito on Facebook">
        {{'icon-facebook.png' | asset_img_url | img_tag: 'Facebook Icon'}}
      </a>
      <a href="{{settings.twitter_profile_url}}" title="Suavecito on Twitter">
        {{'icon-twitter.png' | asset_img_url | img_tag: 'Twitter Icon'}}
      </a>
      <a href="{{settings.youtube_profile_url}}" title="Suavecito on YouTube">
        {{'icon-youtube.png' | asset_img_url | img_tag: 'YouTube icon'}}
      </a>
    </div>
    <div class="col s12 legal center-align">
      <span><a href="{{settings.terms_of_use_url}}" title="Terms of Use">Terms Of Use</a></span>
      <span><a href="{{settings.privacy_policy_url}}" title="Privacy Policy">Privacy Policy</a></span>
    </div>
  </div>
  <div class="row">
    <div class="col s12 l6">
      <div id="mc_embed_signup">
        <form action="https://suavecito.us11.list-manage.com/subscribe/post?u=12152c13ec52d80aad4dcf0ba&amp;id=f64074844a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <label>Email Address</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_12152c13ec52d80aad4dcf0ba_f64074844a" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn background-s-red"></div>
          </div>
        </form>
      </div>
    </div>
    <div class="col s12 l6">
      <div class="social right-align">
        <a href="{{settings.instagram_profile_url}}" title="Suavecito on Instagram">
          {{'icon-instagram.png' | asset_img_url | img_tag: 'Instragram Icon'}}
        </a>
        <a href="{{settings.facebook_profile_url}}" title="Suavecito on Facebook">
          {{'icon-facebook.png' | asset_img_url | img_tag: 'Facebook Icon'}}
        </a>
        <a href="{{settings.twitter_profile_url}}" title="Suavecito on Twitter">
          {{'icon-twitter.png' | asset_img_url | img_tag: 'Twitter Icon'}}
        </a>
        <a href="{{settings.youtube_profile_url}}" title="Suavecito on YouTube">
          {{'icon-youtube.png' | asset_img_url | img_tag: 'YouTube icon'}}
        </a>
      </div>
      <div>
        <p class="right-align">COOKIES (not the delicious kind) - <br />
        Suavecito.com uses cookies. By continuing to browse you agree <br />to storing cookies on your device to enhance your site experience <br />and for analytical purposes. Visit <a href="https://www.suavecito.com/pages/terms-and-conditions#cookies">Cookies & Data</a> to learn more.
        </p>
      </div>
    </div>
  </div>
</div>