<div class="hair-loss-prevention" data-s-module="HairLossPrevention">
  <div class="wrapper">
    
    <h1>
      <img 
        data-s-module="LazyImage"
        class="hair-loss-treatment-logo responsive-img"
        data-src="{{ 'suavecito-hair-treatment-logo.jpg' | asset_img_url: '800x' }}" 
        data-small-src="{{ 'suavecito-hair-treatment-logo.jpg' | asset_img_url: '400x' }}"
        data-full-src="{{ 'suavecito-hair-treatment-logo.jpg' | asset_img_url: 'master' }}"
        alt="Suavecito, Hair Loss Treatment Line. This hair Loss Treatment Line is designed with proudcts that work as a team to encourage hair growth. While the Matte Hair Cream blocks DHT to co bat hair loss and thinning, the minoxidil solution creates the optimal environment for hair growth and our Thickening Conditioner and Thickenting Shampoo speed up the process and help hair appear fuller." />
    </h1>
    
    <div class="sub-title">
      <h2>THE PRODUCTS</h2>
    </div>
    
    <div class="product">
      <div class="image">
        <a href="/products/minoxidil">
          <img
            data-s-module="LazyImage"
            class="responsive-img"
            data-src="{{ 'suavecito-hair-treatment-minoxidil.jpg' | asset_img_url: '400x' }}"
            data-small-src="{{ 'suavecito-hair-treatment-minoxidil.jpg' | asset_img_url: '100x' }}"
            data-full-src="{{ 'suavecito-hair-treatment-minoxidil.jpg' | asset_img_url: '800x' }}"
            alt="Suavecito Minoxidil 5% Solution"
            />
        </a>
      </div>
      <div class="info">      
        <a href="/products/minoxidil">
          <h3 class="title text-s-red">MINOXIDIL 5% SOLUTION<br/>1 OR 3 MONTH SUPPLY</h3>
        </a>
        <p class="text-justify">This Minoxidil 5% Solution is a topical, liquid solution that you apply to your scalp twice a day to promote hair growth. Minoxidil 5% Solution works only for the crown and vertex, it is not made to use on the hairline.</p>
        <p class="text-justify">Once you start using Minoxidil, it requires continued use in order to see continued results. <a href="/products/minoxidil">(more info)</a></p>
      </div>
    </div>
    
    <div class="product-divider"></div>
    
    <div class="product reverse">
      <div class="info text-right">      
        <a href="/products/matte-hair-cream-with-dht-blocker">
          <h3 class="title text-s-red">MATTE HAIR CREAM<br/>W/ DHT BLOCKER</h3>
        </a>
        <p class="text-justify">This Matte Hair Cream w/ DHT Blocker has the styling ability you’ve come to expect from a Suavecito product with an added bonus of preventing hair loss while making hair appear thicker and fuller. <a href="/products/matte-hair-cream-with-dht-blocker">(more info)</a></p>
      </div>
      <div class="image matte-hair-cream">
        <a href="/products/matte-hair-cream-with-dht-blocker">
          <img
            data-s-module="LazyImage"
            class="responsive-img"
            data-src="{{ 'suavecito-hair-treatment-hair-cream.jpg' | asset_img_url: '400x' }}"
            data-small-src="{{ 'suavecito-hair-treatment-hair-cream.jpg' | asset_img_url: '100x' }}"
            data-full-src="{{ 'suavecito-hair-treatment-hair-cream.jpg' | asset_img_url: '800x' }}"
            alt="Suavecito Matte Hair Cream W/ DHT Blocker"
            />
        </a>
      </div>
    </div>
    
    <div class="product-divider"></div>
    
    <div class="product">
      <div class="image">
        <a href="/products/thickening-shampoo">
          <img
            data-s-module="LazyImage"
            class="responsive-img"
            data-src="{{ 'suavecito-hair-treatment-thickening-shampoo.jpg' | asset_img_url: '400x' }}"
            data-small-src="{{ 'suavecito-hair-treatment-thickening-shampoo.jpg' | asset_img_url: '100x' }}"
            data-full-src="{{ 'suavecito-hair-treatment-thickening-shampoo.jpg' | asset_img_url: '800x' }}"
            alt="Suavecito Thickening Shampoo"
            />
        </a>
      </div>
      <div class="info">      
        <a href="/products/thickening-shampoo">
          <h3 class="title text-s-red">THICKENING SHAMPOO<br/>W/ NIACINAMIDE</h3>
        </a>
        <p class="text-justify">This Thickening Shampoo with niacinamide works in conjunction with minoxidil and DHT blockers for optimal results. It contains other ingredients shown to be beneficial to hair growth such as rosemary oil, panthenol, and aloe. <a href="/products/thickening-shampoo">(more info)</a></p>
      </div>
    </div>
    
    <div class="product-divider"></div>
    
    <div class="product reverse">
      <div class="info text-right">      
        <a href="/products/thickening-conditioner">
          <h3 class="title text-s-red">THICKENING CONDITIONER<br/>W/ NIACINAMIDE</h3>
        </a>
        <p class="text-justify">This Thickening Shampoo with niacinamide works in conjunction with minoxidil and DHT blockers for optimal results. IT contains other ingredients shown to be beneficial to hair growth such as rosemary oil, panthenol and aloe. <a href="/products/thickening-conditioner">(more info)</a></p>
      </div>
      <div class="image">
        <a href="/products/thickening-conditioner">
          <img
            data-s-module="LazyImage"
            class="responsive-img"
            data-src="{{ 'suavecito-hair-treatment-thickening-conditioner.jpg' | asset_img_url: '400x' }}"
            data-small-src="{{ 'suavecito-hair-treatment-thickening-conditioner.jpg' | asset_img_url: '100x' }}"
            data-full-src="{{ 'suavecito-hair-treatment-thickening-conditioner.jpg' | asset_img_url: '800x' }}"
            alt="Suavecito Thickening Conditioner"
            />
        </a>
      </div>
    </div>
    
    <div class="sub-title">
      <h2>THE DETAILS</h2>
    </div>
    
    <div id="Minoxidil" class="product-detail">
      <div class="sticky-title">
        <div class="underlined">      
          <a href="/products/minoxidil">
            <h3>MINOXIDIL 5% SOLUTION</h3>
          </a>
          <span
            class="sidenav-trigger" 
            data-target="ProductDrawer" 
            data-page-title="Minoxidil - 1 Month Supply" 
            data-url="/products/minoxidil?view=stripped" 
            data-id=6589456580691
            data-template="subscription">
            SHOP NOW →</span>
        </div>
      </div>
      <h4 class="text-s-red">WHAT IS IT?</h4>
      <p class="text-justify">Minoxidil is a topical, liquid solution that you apply to your scalp twice daily. Once you start using minoxidil, it requires continued use in order to see continued results.</p>
      <h4 class="text-s-red">WHAT DOES IT DO?</h4>
      <p class="text-justify">Minoxidil creates the ideal conditions for hair growth in your scalp by increasing blood flow to your scalp and hair follicles. This topical solution slows down hair loss and encourages the hair you do have to grow in thicker and stronger, which can make a huge difference in how thinning hair looks.
        Minoxidil works best for hair growth on the crown and vertex of your head. Unfortunately, it will not stimulate growth on a receding hairline and is not recommended for use on anywhere other than the crown (top) of your head.</p>
      <h4 class="text-s-red">HOW SOON WILL I SEE RESULTS?</h4>
      <p class="text-justify">It will take 3-4 months of consistent application before you notice improvements. You may notice an increase in shedding in the first month of use, this is normal and should slow after the first month. Some people also see changes in hair color or texture after use. If you do not see results within 4-6 months of use, consider discontinuing and consulting your doctor.</p>
      <div class="description">
        <div class="text">
          <p><span class="text-s-red">Suavecito 5% Minoxidil Topical Solution</span> <span class="text-justify">is for men who have a general thinning of hair on the scalp (vertex only, as shown in diagram). Not intended for frontal baldness or a receding hairline.</span></p>
          <p class="text-justify">If men have more hair loss or hair loss in a place different than shown below, Suavecito 5% Minoxidil Topical Solution may not work.</p>
          <div class="product-divider"></div>
          <p class="text-medium">See Minoxidil packaging for full Drug Facts and lists of restrictions and side effects. We recommend consulting your physician before starting use of any new medicated product.</p>
        </div>
        <div class="image">
          <img 
            data-s-module="LazyImage"
            class="responsive-img center-img"
            data-src="{{ 'suavecito-hair-treatment-before-after.jpg' | asset_img_url: '300x' }}"
            data-src="{{ 'suavecito-hair-treatment-before-after.jpg' | asset_img_url: '50x' }}"
            data-src="{{ 'suavecito-hair-treatment-before-after.jpg' | asset_img_url: '800x' }}"
            alt="Before & After. With continued use of minoxidil and styled with Matte Hair Cream W/ DHT Blocker."
          />
          <p class="text-s-red text-center"><span class="text-large">BEFORE & AFTER</span><br/><span class="text-small">WITH CONTINUED USE OF MINOXIDIL, AND STYLED WITH MATTE HAIR CREAM W/ DHT BLOCKER.</span></p>
        </div>
      </div>
    </div>
    
    <div id="Matte-Hair-Cream" class="product-detail text-right">
      <div class="sticky-title">
        <div class="underlined">      
          <a href="/products/matte-hair-cream-with-dht-blocker">
            <h3>MATTE HAIR CREAM<br/>W/ DHT BLOCKER</h3>
          </a>
          <span
            class="sidenav-trigger" 
            data-target="ProductDrawer" 
            data-page-title="Matte Hair Cream with DHT Blocker" 
            data-url="/products/matte-hair-cream-with-dht-blocker?view=stripped" 
            data-id=6589460709459
            data-template="subscription">
            SHOP NOW →</span>
        </div>
      </div>
      <h4 class="text-s-red">WHAT IS DHT?</h4>
      <p class="text-justify">DHT stands for Dihydrotestosterone, a male sex hormone which is made from testosterone. DHT affects those genetically prone to male pattern baldness by binding to receptors in the scalp and causes hair follicles to miniaturize (shrink and weaken) and eventually stop growing hair at all.</p>
      <h4 class="text-s-red">WHAT DOES A DHT BLOCKER DO?</h4>
      <p class="text-justify">The specific form of DHT blocker in the Matte Hair cream is a topical formula with serenoa serrulata fruit extract, which helps encourage hair growth. Serenoa serrulata fruit extract has the potential to lower the conversion of testosterone to DHT and reduce the DHT levels in the scalp. Putting it in a styling product is a great way to add it to your daily routine without having to think about it too much.</p>
      <div class="description">
        <div class="image">
          <img 
            data-s-module="LazyImage"
            class="responsive-img center-img"
            data-src="{{ 'suavecito-hair-treatment-before-after-2.jpg' | asset_img_url: '300x' }}"
            data-src="{{ 'suavecito-hair-treatment-before-after-2.jpg' | asset_img_url: '50x' }}"
            data-src="{{ 'suavecito-hair-treatment-before-after-2.jpg' | asset_img_url: '800x' }}"
            alt="Before & After. Styled with Matte Hair Cream W/ DHT Blocker."
          />
          <p class="text-s-red text-center"><span class="text-large">BEFORE & AFTER</span><br/><span class="text-small">STYLED WITH MATTE HAIR CREAM W/ DHT BLOCKER.</span></p>
        </div>
        <div class="text">
          <h4 class="text-s-red">HOW SOON WILL I SEE RESULTS?</h4>
          <p class="text-justify">With continued use, you should see results in 4-6 months.</p>
          <p class="text-justify">We recommend consulting your physician before starting use of any new medicated product. If you are currently taking finasteride, consult your doctor before using this product.</p>
        </div>
      </div>
    </div>
    
    <div id="Thickening-Shampoo-Conditioner" class="product-detail">
      <div class="sticky-title">
        <div class="underlined">
          <a href="/products/thickening-shampoo-conditioner-set">
            <h3>THICKENING SHAMPOO & CONDITIONER W/ NIACINAMIDE</h3>
            <span
              class="sidenav-trigger" 
              data-target="ProductDrawer" 
              data-page-title="Thickening Shampoo & Conditioner Set" 
              data-url="/collections/hair-loss-prevention/products/thickening-shampoo-conditioner-set?view=stripped" 
              data-id=6589470998611
              data-template="subscription">
              SHOP NOW →</span>
          </a>
        </div>
      </div>
      <h4 class="text-s-red">WHAT IS NIACINAMIDE?</h4>
      <p class="text-justify">Niacinamide, also known as nicotinamide, is a form of Vitamin B3 that is beneficial to hair health and can potentially speed up the rate of hair regrowth seen in combination with minoxidil and a DHT blocker. Niacinamide is also thought to restore damaged hair and increase body and suppleness of hair for the appearance of thicker locks.</p>
      <h4 class="text-s-red">WHAT OTHER BENEFICIAL INGREDIENTS ARE IN HERE?</h4>
      <p class="text-justify">Both our Thickening Shampoo and Conditioner contain niacinamide as well as other ingredients that are popular in hair loss shampoos for their hair growth benefits.</p>
      <p class="text-justify"><span class="text-s-red text-bold">Rosemary Oil</span><span class="text-justify"> - Found in both our Thickening Shampoo and Conditioner, rosemary oil has been commonly used to promote hair growth similar to minoxidil.</span></p>
      <p class="text-justify"><span class="text-s-red text-bold">Panthenol</span><span class="text-justify"> - Found in our Thickening Shampoo is believed to have benefits for hair thickness and moisture retention.</span></p>
      <p class="text-justify"><span class="text-s-red text-bold">Aloe Barbadensis Leaf Juice</span><span class="text-justify"> - Found in our Thickening Shampoo, aloe may help promote a healthy scalp and help condition and repair damaged hair.</span></p>
      <p class="text-justify"><span class="text-s-red text-bold">Biotin</span><span class="text-justify">  - Found in our Thickening Conditioner, is a form of Vitamin B. While there is little known about the effects of biotin on hair growth, a biotin deficiency is known to lead to hair loss, indicating it is important to your hair health.</span></p>
      <p class="text-justify"><span class="text-s-red text-bold">Caffeine</span><span class="text-justify"> - Found in our Thickening Conditioner, caffeine has been shown to extend the growth phase of hair follicles and works well in combination with minoxidil and/or DHT blockers.</span></p>
      <h4 class="text-s-red">HOW SOON WILL I SEE RESULTS?</h4>
      <p class="text-justify">Using this Thickening Shampoo & Conditioner in conjunction with minoxidil and a DHT blocker is the best way to see results, especially around the hairline, which isn’t typically helped by minoxidil or DHT blockers. Results typically take 4-6 months to see.</p>
    </div>
    
    <div style="with: 100%;">
      <div style="border: 1px solid #822808;margin: 50px auto; width: 50%;"></div>
    </div>
    
    <div class="disclaimer text-center">
      <p>We recommend consulting your physician before starting use of any new medicated product.</p>
      <p><span class="text-s-red">Have Questions? </span> Please call <a href="tel:7143886920">714-388-6920</a> or email <a href="mailto: info@suavecito.com">info@suavecito.com</a><br/>If you are having an allergic reaction to a product, please contact your doctor.</p>
    </div>
    
    <div style="with: 100%;">
      <div style="border: 1px solid #822808;margin: 50px auto; width: 50%;"></div>
    </div>
    
  </div>
</div>