<div id="MobileMenu" class="sidenav mobile-menu-drawer" data-s-module="MobileMenu">
  <ul class="collapsible">
    <li>
      <h6 class="valign-wrapper"><a href="#!" data-target="MobileMenu" class="sidenav-close color-s-red"><i class="material-icons">close</i></a><span>Main Menu</span></h6>
    </li>
    {% if customer %}
      <li><a href="/account/logout">Sign Out</a></li>
      <li><a href="/account/">My Account</a></li>
    {% else %}
      <li><a href="/account/login">Sign In</a></li>
      <li><a href="/account/register">Register</a></li>
    {% endif %}
    {% for link in linklists['mobilemenu'].links %}
      {% if link.links != blank %}
      {% assign dropdown_number = dropdown_number | plus: 1 %}
      <li>
        <div class="collapsible-header">
          <span>{{ link.title }}</span> <i class="material-icons color-s-red">arrow_drop_down</i>
        </div>
        <div id="Collapsible{{dropdown_number}}" class="collapsible-body">
          <ul {%if link.levels >= 2 %}class="collapsible"{%endif%}>
          {% for childlink in link.links %}
            {% if childlink.links != blank %}
              <li>
                <div class="collapsible-header">
                  <span>{{ childlink.title | escape }}</span> <i class="material-icons color-s-red">arrow_drop_down</i>
                </div>
                <div class="collapsible-body">
                  <ul>
                    {% for childlink_link in childlink.links %}
                      <li><a href="{{ childlink_link.url }}"><span>{{ childlink_link.title | escape }}</span></a></li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
            {% else %}
              <li class=""><a href="{{ childlink.url }}"><span>{{ childlink.title | escape }}</span></a></li>
            {% endif %}
          {% endfor %}
          </ul>
        </div>
      </li>
      {% else %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>