{%- assign product_price = product.selected_or_first_available_variant.price -%}
{%- assign product_compare_price = product.selected_or_first_available_variant.compare_at_price -%}
<form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form"
data-id="{{ product.selected_or_first_available_variant.id }}" 
data-price="{{ product_price | money_with_currency | strip_html }}"
data-compare-price="{{ product_compare_price | money_with_currency | strip_html }}"
data-inventory-quantity="{{ product.selected_or_first_available_variant.inventory_quantity }}"
data-image="{{ product.selected_or_first_available_variant.image }}"
{%if product.available%}data-available="{{product.available}}"{%endif%}
{%if product.variants.size > 1%}data-has-variants="true"{%endif%}>
  <div class="row">
    <div class="col s6 product-price padding-left-none">
      {{ product_price | money }}
    </div>
    <div class="col s6 compare-price padding-left-none">
      {% if product_compare_price and product_compare_price != product_price %}
        {{ product_compare_price | money}}
      {% endif %}
    </div>
    <div class="col s12 padding-none star-rating-container">{%include 'ProductStarRating'%}</div>
    <div class="input-field col s8">
      {% unless product.variants.size == 1 %}
      <select class="product-option variant-selector" aria-label="Product Options{% for option in product.options %} - {{option}}{% endfor %}">
        {% for variant in product.variants %}
          {% if variant.image.product_id %}
            {% assign variant_image = variant.image | img_url: 'large' %}
          {% else %}
            {% assign variant_image = 'no-image' %}
          {% endif %}
          {% if variant.available %}
            <option value="{{ variant.id }}"
            data-id="{{ variant.id }}" 
            data-price="{{ variant.price | money_with_currency | strip_html }}"
            data-compare-price="{{ variant.compare_at_price | money_with_currency | strip_html }}"
            data-inventory-quantity="{{ variant.inventory_quantity }}"
            data-image="{{ variant_image }}">
              {{ variant.title }}
            </option>
          {% else %}
            <option disabled="disabled">
              {{ variant.title }} - sold out
            </option>
          {% endif %}
        {% endfor %}
        {% comment %}
            used for back in stock notifications
        {% endcomment %}
        {% for variant in product.variants %}
          {% if variant.image.product_id %}
            {% assign variant_image = variant.image | img_url: 'large' %}
          {% else %}
            {% assign variant_image = 'no-image' %}
          {% endif %}
          {% unless variant.available %}
            <option value="{{ variant.id }}"
            data-id="{{ variant.id }}"
            data-variant-id="{{ variant.id }}" 
            data-price="{{ variant.price | money_with_currency | strip_html }}"
            data-compare-price="{{ variant.compare_at_price | money_with_currency | strip_html }}"
            data-inventory-quantity="0"
            data-image="{{ variant_image }}"
            data-disable-add-to-cart="true"
            data-product-title="{{product.title}}"
            data-variant-title="{{variant.title}}"
            data-product-id="{{product.id}}">
              {{ variant.title }} - Notify me when back in stock
            </option>
          {% endunless %}
        {% endfor %}
      </select>
      {% endunless %}
    </div>
    <div class="input-field col s4">
      {% if product.available %}
      <select class="product-option quantity-selector" aria-label="Quantity To Purchase">
        {% if product.selected_or_first_available_variant.inventory_quantity < 30 %}
          {% assign x = product.selected_or_first_available_variant.inventory_quantity %}
        {% else %}
          {% assign x = 30 %}
        {% endif %}
        {% for i in (1..x) %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>
      {% endif %}
    </div>
    <div class="col s12">
      {% if product.available %}
      <button class="btn waves-effect waves-light w100 add-to-cart background-s-red" type="submit" name="add">Add to cart</button>
      {% else %}
      {% unless product.variants.size > 1 and product.available == false %}
      <button class="waves-effect waves-teal btn-flat w100" disabled="true">SOLD OUT</button>
      {% endunless %}
      <a href="#BisModal" class="btn-flat waves-effect waves-light w100 modal-trigger bis-modal-trigger color-s-red center-align" data-variant-id="{{product.selected_or_first_available_variant.id}}" data-product-title="{{product.title}}" data-variant-title="{{variant.title}}" data-product-id="{{product.id}}">NOTIFY WHEN BACK IN STOCK</a>
      {% endif %}
    </div>
  </div>
</form>