<div id="ProductCarousel" class="carousel-container row" data-s-module="ProductCarousel">
  <div class="col s12 m6">
    <div class="carousel carousel-slider center">
      <div class="carousel-fixed-item center"></div>
      {% for image in product.images %}
        <div class="carousel-item center-align">
          <img class="carousel-image responsive-img modal-trigger" src="{{ image.src | img_url: 'large' }}" data-src="{{ image.src | img_url: 'large' }}" data-small-src="{{ image.src | img_url: 'small' }}" data-full-src="{{ image.src | img_url: '2048x' }}"  alt="{{ image.alt | escape }}" data-index="{{ forloop.index }}" data-target="ProductImageModal">
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col s12 m6">
    <div class="thumbnails row">
      {% for image in product.images %}
        <div class="col s4">
          <img class="responsive-img" data-trigger="true" src="{{ image.src | img_url: 'small' }}"  alt="{{ image.alt | escape }}" data-src="{{ image.src | img_url: 'large' }}" data-index="{{ forloop.index | minus: 1 }}">
        </div>
      {% endfor %}
    </div>
  </div>
  <div id="ProductImageModal" class="modal">
    <div class="modal-content">
      <div class="right-align"><a href="#!" class="modal close"><i class="material-icons color-s-red">close</i></a></div>
      <div class="modal-image"></div>
    </div>
  </div>
</div>