{% unless grid_sizes %}
  {% assign grid_sizes = 's4 m4 l3 xl3' %}
{% endunless %}
{%- assign product_price = product.selected_or_first_available_variant.price -%}
{%- assign product_compare_price = product.selected_or_first_available_variant.compare_at_price -%}
<div class="product-tile-lifestyle product-tile-page-{{paginate.current_page}} col {{grid_sizes}}">
  <div class="frame hoverable z-depth-2">
    <img class="sidenav-trigger product-image"  src="{{ product.images.last | img_url: 'large' }}" alt="{{ product.images.last.alt| escape }}" data-target="ProductDrawer" data-page-title="{{product.title}}" data-url="https://{{shop.domain}}{{product.url}}?view=stripped" data-id="{{product.id}}">
    <div class="content">
      <div class="container centered-content">
        <div class="row">
          <div class="col s12">
            <a href="#" class="btn-floating waves-effect waves-light sidenav-trigger background-s-red" data-target="ProductDrawer"><i data-page-title="{{product.title}}" data-url="https://{{shop.domain}}{{product.url}}?view=stripped" data-id="{{product.id}}" class="material-icons">visibility</i></a>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <span class="title"><a href="{{ product.url | within: collection }}" class="text-s-red-compliment">{{ product.title }}</a></span>
          </div>
        </div>
        <div class="row">
          <div class="col s6 product-price padding-left-none">
            {{ product_price | money }}
          </div>
          <div class="col s6 compare-price padding-left-none">
            {% if product_compare_price and product_compare_price != product_price %}
              {{ product_compare_price | money }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>