<nav id="TopNav" class="black">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo valign-wrapper_important h100">{{ settings.SuavecitoLogo.src | img_tag: 'Suavecito Script Logo', 'logo', 'medium' }}</a>
    <ul class="right hide-on-med-and-down">
      {% for link in linklists.temp.links %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
      <li><a href="/cart"><i class="material-icons">shopping_cart</i></a></li>
      <li><a href="/search"><i class="material-icons">search</i></a></li>
      <li><a href="/account/login"><i class="material-icons">person</i></a></li>
    </ul>
  </div>
</nav>

  {% comment %} {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <a href="{{ link.url }}">{{ link.title }}</a>
      [{% for childlink in linklists[child_list_handle].links %}
        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
      {% endfor %}]
    {% else %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% endif %}
  {% endfor %} {% endcomment %}