<!-- /templates/customers/account.liquid -->
{% include 'secrets' %}
<div id="Account" data-s-module="Account" data-customer="{{customer.id}}" data-secret="{{customer.id | hmac_sha256: hmac_sha256_secret}}" data-address-id="{{customer.default_address.id}}">
  <div class="container">
    <div class="row">
      <div class="col s12 l4 summary-sticky">
        <div class="row">
          <div class="col s12">
            <div class="card grey darken-3">
              <div class="card-content white-text" style="padding-top:12px;">
                {%- assign address = customer.default_address -%}
                <span style="display: block; text-align: right;"><a href="#EditCustomer" class="modal-trigger" style="color:#fff"><i class="material-icons">create</i></a></span>
                <span class="card-title" style="line-height: 0.8;">{{customer.name}}<br><small>{{customer.email}}</small>{%-if address.phone -%}<br><small>{{address.phone}}</small>{%-endif-%}</span>
                {%- if address.company -%}
                <p>{{address.company}}</p>
                {%-endif-%}
                <p>{{address.address1}}</p>
                {%- if address.address2 -%}
                <p>{{address.address2}}</p>
                {%-endif-%}
                <p>{{address.city}}, {{address.province}} {{address.zip}}</p>
                {%- if customer.accepts_marketing -%}
                <p class="small relative" style="margin-top:5px; font-weight: 300;"><i class="material-icons tiny">check_box</i> <span style="position: absolute; top:-2px; padding-left:2px;">signed up for sale newsletter</span></p>
                {%-else-%}
                <p class="small" style="margin-top:5px; font-weight: 300;">* not signed up for sale newsletter</p>
                {%-endif-%}
                {% if customer.addresses_count > 1 %}
                <p><a href="/account/addresses" class="btn-flat" style="color:#fff;">manage addresses({{customer.addresses_count}})</a></p>
                {% endif %}
              </div>
              <div class="card-action">
                <a href="#">REQUEST/DELETE DATA</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 l8">
        <h1 style="margin-top:0">Order History</h1>
        <div class="divider"></div>
        {% for order in customer.orders %}
          <div class="row section">
            <div class="col s6">
              <div>
                {{ order.name | link_to: order.customer_url }}
              </div>
              <div>
                {{ order.created_at | date: format: 'abbreviated_date' }}
              </div>
              <div>
                {{ order.fulfillment_status_label }}
              </div>
            </div>
            <div class="col s6 right-align">
                <a class="btn background-s-red" href="{{order.customer_url}}">VIEW</a>
            </div>
            <div class="col s12">
              <div class="row" style="margin-top:20px">
                {% for line_item in order.line_items | limit: 4 %}
                {% unless forloop.last and order.line_items.size > 4 %}
                  <div class="col s3">
                    {{ line_item.image | img_tag: line_item.title, 'responsive-img', 'small' }}
                  </div>
                {% else %}
                  <div class="col s3 relative">
                    {{ line_item.image | img_tag: line_item.title, 'faded responsive-img', 'small' }}
                    <div class="count-overlay">+ {{order.line_items.size | minus: 3}}</div>
                  </div>
                {% endunless %}
                {% endfor %}
              </div>
            </div>  
          </div>
          <div class="divider"></div>
        {% else %}
          <p>No orders to display.</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="EditCustomer" class="modal">
    <div class="modal-content">
      <span class="right"><button class="btn-flat close-edit-customer"><i class="material-icons">close</i></button></span>
      <h5>Primary Address</h5>
      <div class="row">
        <form class="col s12 customer" data-address-id="{{customer.default_address.id}}">
          <div class="row">
            <div class="col s6 input-field">
              <input id="first_name" class="first-name validate" type="text" value="{{customer.first_name}}" />
              <label for="first_name">First Name</label>
            </div>
            <div class="col s6 input-field">
                <input id="last_name" class="last-name validate" type="text" value="{{customer.last_name}}" />
                <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="email validate" value="{{customer.email}}">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="phone" type="tel" class="phone validate" value="{{customer.phone}}">
              <label for="phone">Phone Number</label>
            </div>
            <div class="input-field col s6">
              <input id="company" type="text" class="company validate" value="{{customer.default_address.company}}">
              <label for="company">Company</label>
              </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="address1" class="address1 validate" type="text" value="{{customer.default_address.address1}}" />
              <label for="address1">Address Line 1</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="address2" class="address2 validate" type="text" value="{{customer.default_address.address2}}" />
              <label for="address2">Address Line 2</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 l4">
              <input id="city" class="city validate" type="text" value="{{customer.default_address.city}}" />
              <label for="city">City</label>
            </div>
            <div class="input-field col s6 l4">
              <input id="state" class="state validate" type="text" value="{{customer.default_address.province}}" />
              <label for="state">State</label>
            </div>
            <div class="input-field col s6 l4">
              <input id="zip" class="zip validate" type="text" value="{{customer.default_address.zip}}" />
              <label for="zip">Zip Code</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12 l6">
              <label>
                <input type="checkbox" class="filled-in accepts-marketing" {% if customer.accepts_marketing %}checked="checked"{% endif %} />
                <span>signed up for sale newsletters</span>
              </label>
            </div>
            <div class="col s12 l6 right-align"><button class="btn background-s-red update-customer">UPDATE</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>