{% if section.blocks.size > 0 %}
<div id="CollectionTemplateCarousel" class="carousel carousel-slider" data-s-module="CollectionTemplateCarousel">
  <div class="carousel-fixed-item color-s-red">
    <span class="left-trigger"><i class="large material-icons">chevron_left</i></span>
    <span class="right-trigger"><i class="large material-icons">chevron_right</i></span>
  </div>
  {% for block in section.blocks %}
    <div id="{{block.id}}" class="carousel-item" data-collection-carousel="true" data-index="{{forloop.index | minus: 1}}" {{block.shopify_attributes}}>
      <div class="alignment-container">
        {% if block.settings.TextOverlay %}
          <div class="heading-wrapper {{block.settings.TextValignment}} {{block.settings.TextHalignment}}">
            <h2 class="{{block.settings.TextValignment}} {{block.settings.TextHalignment}}">{{block.settings.TextOverlay}}</h2>
            {% if block.settings.HREF %}
            <a class="btn waves-effect waves-light background-s-red" href="{{block.settings.HREF}}">
              {% if block.settings.ButtonText != empty %}{{block.settings.ButtonText}}{% else %}LEARN MORE{% endif %}
            </a>
            {% endif %}
          </div>
        {% endif %}
        <img alt="{{block.settings.AltText}}" 
        class="responsive-img {{block.settings.Valignment}}"
        srcset="{{block.settings.SlideImage | img_url: '320x'}} 320w,
                {{block.settings.SlideImage | img_url: '480x'}} 480w,
                {{block.settings.SlideImage | img_url: '800x'}} 800w,
                {{block.settings.SlideImage | img_url: '1024x'}} 1024w,
                {{block.settings.SlideImage | img_url: '1920x'}} 1920w,
                {{block.settings.SlideImage | img_url: '2048x'}} 2048w"
        sizes="(max-width: 320px),
                (max-width: 480px),
                (max-width: 800px),
                (max-width: 1024px),
                (max-width: 1920px),
                (max-width: 2048px)"
        src="{{block.settings.SlideImage | img_url: '2048x'}}"  />
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}

{% schema %}
{
  "name": "Carousel",
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "id": "SlideImage",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "Valignment",
          "type": "select",
          "label": "Vertical Alignment",
          "options": [
            { "value": "top", "label": "Top" },
            { "value": "middle", "label": "Middle" },
            { "value": "bottom", "label": "Bottom" }
          ]
        },
        {
          "id": "AltText",
          "type": "text",
          "label": "Image Alt Text"
        },
        {
          "id": "TextOverlay",
          "type": "text",
          "label": "Text Overlay"
        },
        {
          "id": "TextValignment",
          "type": "select",
          "label": "Text Vertical Alignment",
          "options": [
            { "value": "top", "label": "Top" },
            { "value": "middle", "label": "Middle" },
            { "value": "bottom", "label": "Bottom" }
          ]
        },
        {
          "id": "TextHalignment",
          "type": "select",
          "label": " Text Horizontal Alignment",
          "options": [
            { "value": "left-align", "label": "Left" },
            { "value": "center-align", "label": "Center" },
            { "value": "right-align", "label": "Right" }
          ]
        },
        {
          "id": "HREF",
          "type": "url",
          "label": "Link"
        },
        {
          "id": "ButtonText",
          "type": "text",
          "label": "Button Text",
          "info": "if left empty, will default to LEARN MORE"
        }
      ]
    }
  ]
}
{% endschema %}