{% if section.blocks.size > 0 %}
<div id="MobileBrandCarousel" class="carousel carousel-slider" data-s-module="MobileBrandCarousel">
  {% comment %}
  <div class="carousel-fixed-item color-s-red">
    <span class="left-trigger"><i class="large material-icons">chevron_left</i></span>
    <span class="right-trigger"><i class="large material-icons">chevron_right</i></span>
  </div>
  {% endcomment %}
  {% for block in section.blocks %}
    <div id="{{block.id}}" class="carousel-item" data-collection-carousel="true" data-index="{{forloop.index | minus: 1}}" {{block.shopify_attributes}}>
      {% if block.settings.HREF %}
      <a href="{{block.settings.HREF}}">
      {% endif %}
      <img alt="{{block.settings.AltText}}" 
      class="responsive-img {{block.settings.Class}}"
      srcset="{{block.settings.SlideImage | img_url: '320x'}} 320w,
              {{block.settings.SlideImage | img_url: '480x'}} 480w,
              {{block.settings.SlideImage | img_url: '800x'}} 800w,
              {{block.settings.SlideImage | img_url: '1024x'}} 1024w,"
      sizes="(max-width: 320px),
              (max-width: 480px),
              (max-width: 800px),
              (max-width: 1024px)"
      src="{{block.settings.SlideImage | img_url: '1024x'}}"  />
      {% if block.settings.HREF %}
      </a>
      {% endif %}
      <div class="action">
          {% if block.settings.HREF %}
          <a class="btn-flat waves-effect waves-light color-s-red" href="{{block.settings.HREF}}">SHOP &rarr;</a>
          {% endif %}
        </div>
    </div>
  {% endfor %}
</div>
{% endif %}

{% schema %}
{
  "name": "Mobile Brand Carousel",
  "class": "hide-on-large-only",
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "id": "SlideImage",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "Class",
          "type": "text",
          "label": "Custom css class"
        },
        {
          "id": "AltText",
          "type": "text",
          "label": "Image Alt Text"
        },
        {
          "id": "HREF",
          "type": "url",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brand Logos",
      "category": "Brand Logo Carousel"
    }
  ]
}
{% endschema %}