  <div class="overlapping-images">
   <div class="images">
    <img 
      class="image_4"
      src="{{ section.settings.Img_4 | img_url: '400x' }}"
      data-src="{{ section.settings.Img_4 | img_url: '1000x' }}"
      alt="{{ section.settings.Img_4_Alt }}"
      data-s-module="LazyImage" 
    />
    <img 
      class="image_2"
      src="{{ section.settings.Img_2 | img_url: '400x' }}"
      data-src="{{ section.settings.Img_2 | img_url: '1000x' }}"
      alt="{{ section.settings.Img_2_Alt }}"
      data-s-module="LazyImage" 
    />
    <img 
      class="image_6"
      src="{{ section.settings.Img_6 | img_url: '400x' }}"
      data-src="{{ section.settings.Img_6 | img_url: '1000x' }}"
      alt="{{ section.settings.Img_6_Alt }}"
      data-s-module="LazyImage" 
    />
    <img 
      class="image_7"
      src="{{ section.settings.Img_7 | img_url: '400x' }}"
      data-src="{{ section.settings.Img_7 | img_url: '1000x' }}"
      alt="{{ section.settings.Img_7_Alt }}"
      data-s-module="LazyImage" 
    />
    <img 
      class="image_1"
      src="{{ section.settings.Img_1 | img_url: '400x' }}"
      data-src="{{ section.settings.Img_1 | img_url: '1000x' }}"
      alt="{{ section.settings.Img_1_Alt }}"
      data-s-module="LazyImage" 
    />
    <img 
      class="image_3"
      src="{{ section.settings.Img_3 | img_url: '400x' }}"
      data-src="{{ section.settings.Img_3 | img_url: '1000x' }}"
      alt="{{ section.settings.Img_3_Alt }}"
      data-s-module="LazyImage" 
    />
    <img 
      class="image_5"
      src="{{ section.settings.Img_5 | img_url: '400x' }}"
      data-src="{{ section.settings.Img_5 | img_url: '1000x' }}"
      alt="{{ section.settings.Img_5_Alt }}"
      data-s-module="LazyImage" 
    />
    <div class="text-content">
      <div class="content-center center-align">
        <p class="title">{{ section.settings.Tagline }}</p>
        <div class="divider"></div>
        <p>{{ section.settings.Text }} </p>
      </div>
    </div>
   </div>
  </div>

  {% schema %}
    {
      "name": "Overlapping Images",
      "settings": [
        {
          "id": "Tagline",
          "type": "text",
          "label": "Tagline"
        },
        {
          "id": "Text",
          "type": "text",
          "label": "Text"
        },
        {
          "id": "Img_1",
          "type": "image_picker",
          "label": "Image 1"
        },
        {
          "id": "Img_1_Alt",
          "type": "text",
          "label": "Image 1 Alt"
        },
        {
          "id": "Img_2",
          "type": "image_picker",
          "label": "Image 2"
        },
        {
          "id": "Img_2_Alt",
          "type": "text",
          "label": "Image 2 Alt"
        },
        {
          "id": "Img_3",
          "type": "image_picker",
          "label": "Image 3"
        },
        {
          "id": "Img_3_Alt",
          "type": "text",
          "label": "Image 3 Alt"
        },
        {
          "id": "Img_4",
          "type": "image_picker",
          "label": "Image 4"
        },
        {
          "id": "Img_4_Alt",
          "type": "text",
          "label": "Image 4 Alt"
        },
        {
          "id": "Img_5",
          "type": "image_picker",
          "label": "Image 5"
        },
        {
          "id": "Img_5_Alt",
          "type": "text",
          "label": "Image 5 Alt"
        },
        {
          "id": "Img_6",
          "type": "image_picker",
          "label": "Image 6"
        },
        {
          "id": "Img_6_Alt",
          "type": "text",
          "label": "Image 6 Alt"
        },
        {
          "id": "Img_7",
          "type": "image_picker",
          "label": "Image 7"
        },
        {
          "id": "Img_7_Alt",
          "type": "text",
          "label": "Image 7 Alt"
        }
      ]
    }
  {% endschema %}