<div class="parallax-container" data-s-module="Parallax">
  {% if section.settings.Title != blank %}
  <div class="section-title">
    <h3>{{section.settings.Title}}</h3>
    {% if section.settings.HREF %}
    <a class="btn background-s-red" href="{{section.HREF}}">{{section.settings.ButtonText}}</a>
    {% endif %}
  </div>
  {% endif %}
  <div class="parallax">
    <img alt="{{section.settings.AltText}}" 
    srcset="{{section.settings.Image | img_url: '320x'}} 320w,
            {{section.settings.Image | img_url: '480x'}} 480w,
            {{section.settings.Image | img_url: '800x'}} 800w,
            {{section.settings.Image | img_url: '1024x'}} 1024w,
            {{section.settings.Image | img_url: '1920x'}} 1920w,
            {{section.settings.Image | img_url: '2048x'}} 2048w"
    sizes="(max-width: 320px),
            (max-width: 480px),
            (max-width: 800px),
            (max-width: 1024px),
            (max-width: 1920px),
            (max-width: 2048px)"
    src="{{section.settings.Image | img_url: '2048x'}}"  />
  </div>
</div>

{% schema %}
  {
    "name": "Parallax Section Settings",
    "settings": [
      {
        "id": "Image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "Title",
        "type": "text",
        "label": "Overlay Text"
      },
      {
        "id": "HREF",
        "type": "url",
        "label": "Button Link",
        "info": "Optional: Leave blank to not display button"
      },
      {
        "id": "ButtonText",
        "type": "text",
        "label": "Button Text",
        "info": "Defaults to 'SHOP NOW'",
        "default": "SHOP NOW"
      }
    ],
    "presets": [
      {
        "name": "Parallax",
        "category": "Parallax Section"
      }
    ]
  }
{% endschema %}