{% assign collection_handle = section.settings.Collection %}
{% assign product_limit = section.settings.Limit %}
{% assign grid_sizes = section.settings.Grid_Sizes %}

<div class="row poster-collection" data-s-module="PosterCollection">
    <div class="poster col s12 l6">
      <div class="spacer">
        <div class="slider z-depth-2">
            <ul class="slides">
              {% for block in section.blocks %}
                {% assign slider_item_img_small = block.settings.Slider_Item_Img | img_url: '50x' %}
                {% assign slider_item_img_large = block.settings.Slider_Item_Img | img_url: '800x' %}
                {% assign slider_item_img_alt = block.settings.Slider_Item_Img_Alt %}
                {% assign slider_item_tagline = block.settings.Slider_Item_Tagline %}
                {% assign slider_item_text = block.settings.Slider_Item_Text | truncate: 40 %}
                {% assign slider_item_link = block.settings.Slider_Item_Link %}
                {% assign slider_item_link_text = block.settings.Slider_Item_Link_Text %}
                {% assign slider_item_text_position = block.settings.Slider_Item_Text_Position %}
                {% assign slider_item_text_color = block.settings.Slider_Item_Text_Color %}
                <li>
                  <img 
                    class="lazy-image lazy-poster"
                    src="{{ slider_item_img_small }}" 
                    data-src="{{ slider_item_img_large }}" 
                    alt="{{ slider_item_img_alt }}"
                    data-s-module="LazyImage"
                  />
                  <div class="caption flow-text {{ slider_item_text_color }}-text {{ slider_item_text_position }}">
                    {% unless slider_item_tagline == '' %}
                    <h2 class="tagline">{{ slider_item_tagline }}</h2>
                    {% endunless %}
                    {% unless slider_item_text == '' %}
                    <h6 class="text">{{ slider_item_text }}</h6>
                    {% endunless %}
                    {% unless slider_item_link == '' or slider_item_link_text == '' %}
                    <a 
                      class="btn waves-effect waves-light background-s-red" 
                      href="{{ slider_item_link }}"
                    >
                      {{ slider_item_link_text }}
                    </a>
                    {% endunless %}
                  </div>
                </li>
              {% endfor %}
            </ul>
        </div>
      </div>
    </div>
    <div class="products col s12 l6">
      {% include 'PosterCollection' %}
    </div>
</div>

{% schema %}
  {
    "name": "Collection With Poster",
    "settings": [
      {
        "id": "Collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "id": "Limit",
        "type": "number",
        "label": "Product Limit"
      },
      {
        "id": "Grid_Sizes",
        "type": "text",
        "label": "Grid Sizes"
      }
    ],
    "blocks": [
      {
        "type": "image_picker",
        "name": "Slider Item",
        "settings": [
          {
            "id": "Slider_Item_Img",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "Slider_Item_Img_Alt",
            "type": "text",
            "label": "Image Alt"
          },
          {
            "id": "Slider_Item_Tagline",
            "type": "text",
            "label": "Tagline"
          },
          {
            "id": "Slider_Item_Text",
            "type": "text",
            "label": "Text"
          },
          {
            "id": "Slider_Item_Link",
            "type": "text",
            "label": "Button Link"
          },
          {
            "id": "Slider_Item_Link_Text",
            "type": "text",
            "label": "Button Text"
          },
          {
            "type": "select",
            "id": "Slider_Item_Text_Position",
            "label": "Text Position",
            "options": [
              {
                "value": "top-left",
                "label": "Top Left"
              },
              {
                "value": "top-center",
                "label": "Top Center"
              },
              {
                "value": "top-right",
                "label": "Top Right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom Left"
              },
              {
                "value": "bottom-center",
                "label": "Bottom Center"
              },
              {
                "value": "bottom-right",
                "label": "Bottom Right"
              }
            ],
            "default": "top-left",
            "info": "Default is Top Left."
          },
          {
            "type": "select",
            "id": "Slider_Item_Text_Color",
            "label": "Text Color",
            "options": [
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "black",
                "label": "Black"
              },
              {
                "value": "grey",
                "label": "Grey"
              } 
            ],
            "default": "white",
            "info": "Default is White."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection With Poster",
        "category": "Poster Collection"
      }
    ]
  }
{% endschema %}