<div class="premiumblends-about">  
  <div class="banner">
    <img 
      class="responsive-img"
      src="{{ section.settings.Banner_Img | img_url: '400x' }}"
      data-src="{{ section.settings.Banner_Img | img_url: '1000x' }}"
      alt="Premium Blends"
      data-s-module="LazyImage" 
    />
  </div>
  <div class="container">
    <h1 class="center-align">PREMIUM BLENDS</h1>
    <div class="about">
      <h3 class="center-align"><i>"{{ section.settings.Tagline }}"</i></h3>
      <div class="row">
        <div class="col s12 push-m6 m6">
          <p>{{ section.settings.Text_1 }}</p>
          <img 
            src="{{ section.settings.Image_1 | img_url: '100x' }}"
            data-src="{{ section.settings.Image_1 | img_url: '400x' }}"
            data-s-module="LazyImage"
            alt="{{ sections.settings.Image_1_Alt }}"
          />
        </div>
        <div class="col s12 pull-m6 m6">
          <img 
            src="{{ section.settings.Image_2 | img_url: '100x' }}"
            data-src="{{ section.settings.Image_2 | img_url: '400x' }}"
            data-s-module="LazyImage"
            alt="{{ sections.settings.Image_2_Alt }}"
          />
          <p>{{ section.settings.Text_2 }}</p>
        </div>
      </div>
    </div>

  </div>

</div>

{% schema %}
  {
    "name": "Premium Blends About",
    "settings": [
      {
        "id": "Banner_Img",
        "type": "image_picker",
        "label": "Banner Image"
      },
      {
        "id": "Tagline",
        "type": "text",
        "label": "Tagline"
      },
      {
        "id": "Text_1",
        "type": "richtext",
        "label": "Text 1"
      },
      {
        "id": "Image_1",
        "type": "image_picker",
        "label": "Image 1"
      },
      {
        "id": "Image_1_Alt",
        "type": "text",
        "label": "Image 1 Alt"
      },
      {
        "id": "Text_2",
        "type": "richtext",
        "label": "Text 2"
      },
      {
        "id": "Image_2",
        "type": "image_picker",
        "label": "Image 2"
      },
      {
        "id": "Image_2_Alt",
        "type": "text",
        "label": "Image 2 Alt"
      }
    ]
  }
{% endschema %}