<div class="mission-statement row">
  <div class="floating-image col s12 push-l6 l6">
    <img 
      class="responsive-img"
      src="{{ section.settings.Img | img_url: '400x' }}"
      data-src="{{ section.settings.Img | img_url: '1000x' }}"
      alt="{{ section.settings.Img_Alt }}"
      data-s-module="LazyImage" 
    />
  </div>
  <div class="statement col s12 pull-l6 l6">
    <div class="content">
      <h2 class="title center-aligned">{{ section.settings.Title }}</h2>
      <p>{{ section.settings.Text }}</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Speed Mission Statement",
    "settings": [
      {
        "id": "Title",
        "type": "text",
        "label": "Title"
      },
      {
        "id": "Text",
        "type": "html",
        "label": "The Statement (html)"
      },
      {
        "id": "Img",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "Img_Alt",
        "type": "text",
        "label": "Image Alt"
      }
    ]
  }
{% endschema %}