  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45019039-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-45019039-5');
  </script>
  <!-- End Global site tag (gtag.js) - Google Analytics -->
  <!-- Google Code for Purchase Conversion Page -->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 999108879;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "gpgnCNmc6gcQj-K03AM";
  if ({{ order.order_number }}) {var google_conversion_order_id = "{{ order.order_number  }}";}
  if ({{ total_price }}) { var google_conversion_value = {{ total_price | money_without_currency | remove: "," }}; }
  var google_conversion_currency = "USD";
  var google_remarketing_only = false;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/999108879/?value={{ total_price | money_without_currency | remove: "," }}&amp;currency_code=USD&amp;oid={{order.order_number}}&amp;label=gpgnCNmc6gcQj-K03AM&amp;guid=ON&amp;script=0"/>
  </div>
  </noscript>

    <!-- google dynamic remarketing tag for order confirmation page -->
  <script type="text/javascript">
  var id = new Array();
  {% for line_item in order.line_items %} 
  id.push('shopify_US_{{line_item.product.id}}_{{line_item.variant.id}}');
  {% endfor %}
     var google_tag_params = {
         ecomm_prodid: id,
         ecomm_pagetype: 'purchase',
         ecomm_totalvalue: parseFloat('{{ subtotal_price | money_without_currency | remove: ","}}')
     };
  </script>
    
  <script>
      try {
          ga('set', 'dimension1', window.google_tag_params.ecomm_prodid.toString());
      } catch (e) {}
      try {
          ga('set', 'dimension2', window.google_tag_params.ecomm_pagetype.toString()); 
      } catch (e) {}
      try {
          ga('set', 'dimension3', window.google_tag_params.ecomm_totalvalue.toString()); 
      } catch (e) {}
      ga('send', 'event', 'page', 'visit', window.google_tag_params.ecomm_pagetype.toString(), {
          'nonInteraction': 1
      });
  </script>