{% if customer %}
  {% assign name = customer.name %}
  {% assign email = customer.email %}
{% endif %}
{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count %}
{% endif %}

<div class="container">
  <div class="row">
    <div class="col s12 m7">
      <article>
        <header>
          <h1>{{ article.title }}</h1>
          {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
          {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}
          {{ article.author }} @ {{ article.created_at }}
        </header>
  
        <div>{{ article.content }}</div>
      </article>
      {% if blog.comments_enabled? %}
      <aside>
        <h2>{{ number_of_comments }} comments</h2>
        {% paginate article.comments by 5 %}
          {% for comment in article.comments %}
            <div class="card">
              <div class="card-title" style="padding: 10px; line-height: 1;">
                  <i class="material-icons">person_outline</i> {{ comment.author }}
                  <br><small style="font-size:0.8rem; padding-left: 10px">{{ comment.created_at }}</small>
              </div>
              <div class="card-content">{{ comment.content }}</div>
            </div>
          {% endfor %}
          {% include 'pagination' %}
        {% endpaginate %}
  
        <div class="card">
          <div class="card-title" style="padding:10px;">Leave A Comment</div>
          <div class="card-content" data-s-module="HpForm">
            {% form 'new_comment', article %}
              {{ form.errors | default_errors }}
              <div class="input-field">
                <input type="text" name="comment[author]" id="CommentAuthor" value="{%if name%}{{ name }}{%else%}{{form.author}}{%endif%}" autocapitalize="words">
                <label for="CommentAuthor">NAME</label>
              </div>
              <div class="input-field nogo">
                <input type="text" name="lastname" id="LastName" value="" autocapitalize="words" autocomplete="off" tabindex="-1">
                <label for="LastName">LAST NAME</label>
              </div>
              <div class="input-field">
                <input type="email" name="comment[email]" id="CommentEmail" value="{%if email%}{{ email }}{%else%}{{form.email}}{%endif%}" autocorrect="off" autocapitalize="off">
                <label for="CommentEmail">EMAIL</label>
              </div>
              <div class="input-field">
                <textarea name="comment[body]" id="CommentBody" class="materialize-textarea">{{ form.body }}</textarea>
                <label for="CommentBody">COMMENT</label>
              </div>
              <input class="btn background-s-red" type="submit" value="post">
            {% endform %}
          </div>
        </div>
      </aside>
      {% endif %}
    </div>
    <div class="col s12 m5">
      {% section 'article-sidebar' %}
    </div>
  </div>
</div>
