{% paginate blog.articles by 5 %}
<div class="container">
  <h1>{{ blog.title }}</h1>
  {% for article in blog.articles %}
    <article>
      <header>
        <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
      </header>
      {{ article.author }} @ {{ article.created_at }}
      <div>
        {% if article.excerpt.size > 0 %}
          {{ article.excerpt }}
        {% else %}
          <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
        {% endif %}
      </div>
    </article>
  {% endfor %}

  {% if paginate.pages > 1 %}
    {{ paginate | default_pagination }}
  {% endif %}
</div>
{% endpaginate %}
