{% paginate collection.products by 24 %}
  <div class="container" data-collection="true" data-url="{{shop.domain | append: collection.url}}" data-page-size="{{paginate.page_size}}" data-pages="{{paginate.pages}}" data-current-page="{{paginate.current_page}}">
    <h1>{{ collection.title }}</h1>

    <div class="row">
      {% for product in collection.products %}
        {% include 'product_tile' %}
      {% else %}
        <p>no matches</p>
      {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
      <button class="waves-effect waves-light btn" data-s-module="LoadCollectionPageXbutton" data-load-more-button="true" data-next-page-number="2">LOAD MORE</button>
      {{ paginate | default_pagination }}
    {% endif %}
  </div>
{% endpaginate %}
