<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>Shop By Collection</h1>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      {% for collection in collections %}
        {% unless collection.handle == 'frontpage' %}
          {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
          <div class="chip">
            {% if collection.image %}
              {% assign featured_image = collection.image %}
            {% else %}
              {% assign featured_image = collection.products.first.featured_image %}
            {% endif %}
            <img src="{{featured_image | img_url: 'small'}}" alt="{{collection_title}}" />
            <a href="{{ collection.url }}">{{ collection_title }}</a>
          </div>
        {% endunless %}
      {% endfor %}
    </div>
  </div>

</div>
