<div id="Product">
  {% section 'Banner-WWE-Macho' %}
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col padding-none"><h1>{{ product.title }}</h1></div>
    </div>
    {% include 'ProductCarousel' %}
    {% unless product.id == 3948242763859 %}
      {% include 'ProductForm' %}
    {% endunless %}
    <div class="row">
      <div class="col">{{ product.description }}</div>
    </div>
    {% if product.title == 'Oil Based Pomade' or product.title == 'Firme Clay Pomade' or product.title == 'Suavecito Matte Pomade' or product.title == 'Original Hold Pomade' or product.title == 'Firme (Strong) Hold Pomade' or product.title == 'Light Hold Pomade' %}
      <hr />
      {% assign pomade = product.title %}
      {% include 'ProductCompareChart' %}
      <hr />
    {% endif %}

    {% assign product_size_chart_type = product.metafields.suave.productSizeChartType %}
    {% if product_size_chart_type %}
      {% assign size_chart = 'size-chart-' | append: product_size_chart_type | downcase %}
      {% include size_chart %}
    {% endif %}

    <div class="row">
      <div class="col s12 center-align fbt-container">

      </div>
    </div>
  </div>

  <div class="section-wrapper grey lighten-4" style="padding: 20px 0;">
    {% section 'product-recommendations' %}
  </div>

  <div class="container">
    {% assign review_count = product.metafields.yotpo['reviews_count'] | plus: 0 %}
    {% if review_count > 0 %}
    <h3>REVIEWS</h3>
    {% else %}
    <h3>LEAVE A REVIEW</h3>
    {% endif %}
    <div class="row">
      <div class="col s12 center-align"><a href="#TemplateProductReviewForm" class="modal-trigger color-s-red"><i class="material-icons">edit</i> WRITE REVIEW</a></div>
    </div>
    <div class="product-reviews" data-s-module="ProductReviews" data-product_id="{{product.id}}"></div>
    {% assign id = 'TemplateProductReviewForm' %}
    {% include 'ReviewModal' %}
  </div>
</div>

<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>